@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@200;400;500&display=swap');

body{
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    width: 1651px;
    height: 1115px;

    
}
